<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <blockquote class="embedly-card"><h4><a href="https://internalapp.herokuapp.com/"></a></h4><p>null</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
      <p>image sending has been disables so innapropiate images aren't sent.</p>
    </div>
    <div class="col-md-6">
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
