<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h4>MEMEHUB</h4>
    <iframe src="https://minnit.chat/qfwtufhxnwqsuvhfnqstfreuhvjrqvwNPXZFQAOIHVJwivbNRW?embed&nickname=" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/qfwtufhxnwqsuvhfnqstfreuhvjrqvwNPXZFQAOIHVJwivbNRW" target="_blank</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <center><h4>RULES</h4></center>
      <center>
      <ul>
        <li>No spamming</li>
        <li>No threats</li>
        <li>Try not to curse</li>
        <li>Posting images has been disabled except for direct messages.</li>
      </ul>
      </center>
    </div>
    <div class="col-md-6">
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
